:root { --bold: 'Alumni Sans', sans-serif; }

body, html { min-height: 100%; }

body { font-family: 'Inter', sans-serif; min-width: 1000px; }

.centered { max-width: 1080px; width: 100%; margin-left: auto; margin-right: auto; }

.wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; }

.wrapper .main { -webkit-box-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; }

.wrapper .footer, .wrapper .header { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }

.bold_font { font-family: var(--bold); }

.input_holder { position: relative; }

.input_holder .ico { position: absolute; top: 50%; right: 10px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); color: #37545F; cursor: pointer; }

.input-group-append { margin: 0; }

.btn-light.active { background: #5DBCA4 !important; }

a.tdn:hover { text-decoration: none; }

.txt_wraperd { word-break: break-all; }

@font-face { font-family: 'Proxima Nova Rg'; src: url("../fonts//ProximaNova-Bold.eot"); src: url("../fonts//ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts//ProximaNova-Bold.woff2") format("woff2"), url("../fonts//ProximaNova-Bold.woff") format("woff"), url("../fonts//ProximaNova-Bold.ttf") format("truetype"), url("../fonts//ProximaNova-Bold.svg#ProximaNova-Bold") format("svg"); font-weight: bold; font-style: normal; font-display: swap; }

.custom_checkbox { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

.custom_checkbox [type="checkbox"]:disabled ~ .marker { opacity: .4; }

.custom_checkbox [type="checkbox"]:checked, .custom_checkbox [type="checkbox"]:not(:checked) { position: absolute; left: -9999px; display: none; }

.custom_checkbox [type="checkbox"]:checked ~ .marker, .custom_checkbox [type="checkbox"]:not(:checked) ~ .marker { width: 16px; height: 16px; border: 1px solid #37545F; cursor: pointer; }

.custom_checkbox [type="checkbox"]:checked ~ .marker:after, .custom_checkbox [type="checkbox"]:not(:checked) ~ .marker:after { content: ''; position: absolute; width: 13px; height: 8px; border-left: 2px solid #37545F; position: absolute; top: 2px; left: 2px; border-bottom: 2px solid #37545F; -webkit-transform: rotate(-45deg) skewY(-10deg); -ms-transform: rotate(-45deg) skewY(-10deg); transform: rotate(-45deg) skewY(-10deg); opacity: 1; }

.custom_checkbox [type="checkbox"]:checked ~ .label, .custom_checkbox [type="checkbox"]:not(:checked) ~ .label { cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: inline-block; font-size: 14px; line-height: 17px !important; margin-left: 6px; }

.custom_checkbox [type="checkbox"]:not(:checked) ~ .marker:after { opacity: 0; }

.fz_10 { font-size: 10px !important; }

.fz_12 { font-size: 12px !important; }

.fz_13 { font-size: 13px !important; }

.fz_14 { font-size: 14px !important; }

.fz_15 { font-size: 15px !important; }

.fz_16 { font-size: 16px !important; }

.fz_17 { font-size: 17px !important; }

.fz_18 { font-size: 18px !important; }

.fz_19 { font-size: 19px !important; }

.fz_20 { font-size: 20px !important; }

.fz_21 { font-size: 21px !important; }

.fz_22 { font-size: 22px !important; }

.fz_23 { font-size: 23px !important; }

.fz_24 { font-size: 24px !important; }

.fz_25 { font-size: 25px !important; }

.fz_26 { font-size: 26px !important; }

.fz_27 { font-size: 27px !important; }

.fz_28 { font-size: 28px !important; }

.fz_29 { font-size: 29px !important; }

.fz_30 { font-size: 30px !important; }

.fz_31 { font-size: 31px !important; }

.fz_32 { font-size: 32px !important; }

.fz_33 { font-size: 33px !important; }

.fz_34 { font-size: 34px !important; }

.fz_35 { font-size: 35px !important; }

.fz_36 { font-size: 36px !important; }

.fz_37 { font-size: 37px !important; }

.fz_38 { font-size: 38px !important; }

.fz_39 { font-size: 39px !important; }

.fz_40 { font-size: 40px !important; }

.fz_50 { font-size: 50px !important; }

.fz_88 { font-size: 88px !important; }

.fz_100 { font-size: 100px !important; }

.fz_120 { font-size: 120px !important; }

.main_nav li { padding: 0 30px; }

.main_nav li a { color: #37545F; }

.main_nav li a:hover { text-decoration: none; color: #FF6148; }

.main_nav li.active a { color: #FF6148; }

.admin_ico { max-width: 30px; -webkit-box-flex: 0; -ms-flex: 0 0 30px; flex: 0 0 30px; }

.admin_ico a { display: block; }

.admin_ico a svg { -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.admin_ico a:hover svg { -webkit-filter: drop-shadow(0 0 1px red); filter: drop-shadow(0 0 1px red); }

.admin_ico a:hover svg rect { -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; fill: #fff; }

.photo_user { max-width: 40px; -webkit-box-flex: 0; -ms-flex: 0 0 40px; flex: 0 0 40px; height: 40px; }

.dropdown_custom > .btn { color: #37545F; -webkit-border-radius: 0; border-radius: 0; height: 100px; max-width: 250px; min-width: 190px; }

.dropdown_custom .dropdown-menu { border: 0; margin-top: 0; -webkit-border-radius: 0px 0px 10px 10px; border-radius: 0px 0px 10px 10px; width: 100%; padding: 0 0 15px; }

.dropdown_custom .dropdown-menu .dropdown-item { white-space: normal; }

.dropdown_custom .dropdown-menu > a { padding-left: 12px; padding-right: 12px; }

.dropdown_custom .dropdown-menu > a:hover { font-weight: 700; background: none; }

.dropdown_custom.show > .btn { background: #5DBCA4; }

.dropdown_custom .txt_info { min-width: 0; }

.home_page { height: 100vh; background: #F3F6F7; position: relative; z-index: 1; }

.home_page:after { content: ''; position: absolute; top: 0; left: 0; right: 0; height: 50vh; background: #5DBCA4; z-index: -1; }

.panel { background: #ABDDD1; -webkit-border-radius: 10px; border-radius: 10px; }

.panel.enter_panel { max-width: 380px; -webkit-box-flex: 0; -ms-flex: 0 0 380px; flex: 0 0 380px; }

.table-white td, .table-white th { background: #fff; border-color: #37545F !important; }

.table-white th { background: #5DBCA4; border-bottom: 0 !important; }

.pager_section ul li { min-width: 40px; height: 40px; }

.pager_section ul li.disabled a { opacity: 0.4; pointer-events: none; }

.pager_section ul li.active a { background: #5DBCA4; color: #fff; }

.pager_section ul li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; background: #fff; font-size: 15px; color: #37545F; width: 100%; height: 100%; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #37545F; }

.pager_section ul li a:hover { text-decoration: none; background: #5DBCA4; color: #fff; }

.cstm_search button { position: relative; }

.cstm_search button i { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.hidden_text { display: none; }

/*# sourceMappingURL=all.css.map */
