.custom_checkbox {
	position: relative;
	display: inline-flex;

	[type="checkbox"] {
		&:disabled {
			~.marker {
				opacity: .4;
			}
		}

		&:checked,
		&:not(:checked) {
			position: absolute;
			left: -9999px;
			display: none;

			~.marker {
				width: 16px;
				height: 16px;
				border: 1px solid #37545F;
				cursor: pointer;

				&:after {
					content: '';
					position: absolute;
					width: 13px;
					height: 8px;
					border-left: 2px solid #37545F;
					position: absolute;
					top: 2px;
					left: 2px;
					border-bottom: 2px solid #37545F;
					transform: rotate(-45deg) skewY(-10deg);
					opacity: 1;
				}
			}

			~.label {
				cursor: pointer;
				user-select: none;
				display: inline-block;
				font-size: 14px;
				line-height: 17px !important;
				margin-left: 6px;
			}
		}

		&:not(:checked) {
			~.marker {
				&:after {
					opacity: 0;
				}
			}
		}

	}
}